<launch>

    <node pkg="drone_description" type="tf_broadcaster.py" name="tf_broadcaster"></node>
    <param name="my_robot_description" textfile="$(find drone_description)/urdf/kit.urdf"/>

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
       <remap from="robot_description" to="my_robot_description" />
      <remap from="joint_states" to="base_link" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz"></node>
<!--    <node name="tf2_web_republiher" pkg="tf2_web_republisher" type="tf2_web_republisher" />-->

</launch>